/* .containerCheckDetail {
  background-color: var(--colorWhite);
  border-radius: 3px;
  border: 2px solid yellow;
}

.labelCheck {
  padding: 10px 10px 0 10px;
  font-size: 16px;
  color: #595959;
}

.inputCheck {
  padding: 10px 45px 10px 45px;
  scale: 1.11;
  color: red;
  border: 2px solid blue;
}

.btnCheckDet {
  margin: 10px 0 10px 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btnCheckDet:hover {
  background-color: var(--colorPrimary);
  color: #e8e8e8;
} */

/* .containerChackDetail {
  border: 2px solid red;
  background-color: black;
}
.formCheckout {
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #ced379;
  color: #000000;
  margin-top: 3%;
  border: 8px solid #d7df23;
  border-radius: 50px;
  width: 50%;
  height: 50%;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.3),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.3),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}
.labelCheck {
  margin-bottom: 30px;
  font-size: 190%;
  font-weight: 700;
  font-family: system-ui;
  color: rgb(69, 67, 67);
  letter-spacing: 1px;
  margin-top: 5%;
}
.elementCheck {
  color: red;
}
.checkFormStripe {
  color: red;
}
.chSum {
  color: red;
  border: 2px solid red;
}
.inpuCheck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.inputCheck {
  color: red;
  width: 30%;
  margin-left: 30%;
} */

.containerCheckDetail{
  background: #c3cace;
  width: 100%;

}
.cardCheck{
  margin-top: 2%;
  margin-left: 25%;
  font-size: 300%;
  margin-bottom: 2%;
  color: #5EBFB5;
  background-color: #252636;
  width: 50%;
  padding: 1%;
  border-radius: 30px;
}

.inpuCheck{
 position: absolute;
  width:35%;
  padding: 10px;
  margin-top: 112%;
  margin-left: 30%;
  border: 1px solid #252636;
  border-radius: 5px;
  
}
.btnCheck{
position: absolute;
  margin-left: 67%;
  margin-top: 112%;
  cursor: pointer;
}
