/* .main{
 background-color:#1e1e3b;
} */


/* .navBar{
    position:fixed;
} */

/* .filterService{
    float: left;
    position: fixed;
    padding-left: 10px;
} */
.main{
    background-color: rgb(4, 4, 4);
}




