/* .main{
 background-color:#1e1e3b;
} */

/* .navBar{
    display: flex;
    position:fixed;
} */

/* .filterService{
    float: left;
    position: fixed;
    padding-left: 10px;
} */
* {
  background: none;
}
.main {
  background-color: #101010;
}
/* 
.navSearch{
    flex-wrap: wrap;
} */
