@font-face {
  font-family: rondalBold;
  src: url("./fonts/RondalBold.otf");
}
@font-face {
  font-family: rondalRegular;
  src: url("./fonts/RondalRegular.otf");
}
@font-face {
  font-family: rondalSemibold;
  src: url("./fonts/RondalSemibold.otf");
}
@font-face {
  font-family: fair;
  src: url("./fonts/FairProsper.ttf");
}


* {
  margin: 0;
  padding: 0;

}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #c3cace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

