* {
  background: none;
}
.containerWrapperList {
  /* display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap; */
  background: #1a1a25
}

.containerWrapperList {
  display: block;
  /* Esta me las ordena en columna */
}
.filterService {
  width: 20%;
  height: 100vh;
  float: left;
  position: fixed;
  padding-left: 10px;
}

.cardContainer {
  margin: 80px;
  margin-left: 18%;
  margin-right: 0;
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  background: #c3cace;
}
