.containerWrapperList {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fffffff6;
}

.wrapperList {
  border-radius: 8px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.637);
  margin: 40px;
  text-align: left;
  margin-bottom: 60px;
  margin-left: 80px;
  margin-right: 80px;
}

.containerWrapperList {
  flex-direction: column; /* Esta me las ordena en columna */
  margin-left: 200px; /*CON ESTO LOGRE PONER 3 EN CADA FILA*/
  
}
.cardContainer {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
