.containerLog {
  background: #c3cace;
  width: 100%;
  height: 100vh;
}
.backLog {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
  padding-right: 4px;
  font-family: system-ui;
  font-weight: 700;
  margin-top: 9vh;
  margin-left: 10vw;
  width: 150px;
  color: #5EBFB5;
  letter-spacing: 1px;
  border: 1px solid #5EBFB5;
  border-radius: 10px;
  background-color: #1a1a25;
}
.backLog:hover {
  border: 1px solid #E9EFF2;
  background-color: #5EBFB5;
  color: #1a1a25;
  box-shadow: 0 0 2px 2px #E9EFF2;
}
.imgLog {
  border-radius: 0 50px 50px 0;
  background-color: #252636;
  width: 32%;
  height: 710px;
  box-shadow: -5px -5px 15px #252636, 5px 5px 15px #1a1a25,
  inset -5px -5px 15px #252636, inset 5px 5px 15px #1a1a25;

}
.imageLog {
  margin-top: 15vh;
  margin-left: 0;

}
.formLog {
  background-color: #252636;
  color: #1a1a25;
 border: 2px solid #252636;
  border-radius: 40px 0 0 40px;
  width: 28%;
  height: 710px;
  box-shadow: -5px -5px 15px #252636, 5px 5px 15px #1a1a25,
  inset -5px -5px 15px #252636, inset 5px 5px 15px #1a1a25;

}
.LogCont {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.Log {
  display: grid;
  margin: 20px 120px;
  padding: 5%;
}
.formLog h2 {
  margin-left: -25px;
  font-size: 50px;
  margin-top: 90px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: system-ui;
  color: #5EBFB5;
}
.iconLog {
  margin-right: 40px;
}
.pass {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.forgot {
  font-size: 2.5vh;
  width: 150%;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0 !important;
  letter-spacing: 1px;
  color: #E9EFF2;
}
.forgot:hover {
  text-shadow: 0 2px 15px #1a1a25;
  color: #E9EFF2;
}
.account {
  font-size: 2vh;
  margin-top: 5px;
  margin-left: -10px;
  margin-bottom: 0 !important;
  letter-spacing: 1px;
  color: #E9EFF2;
  font-weight: 500;
}
.symbolsA {
  margin-left: -35px;
  color: #5EBFB5;
  font-size: 42px;
  margin-top: 0;
}
.envelope:hover {
  color: red;
}
.facebook {
  border-radius: 7px;
}
.facebook:hover {
  color: blue;
  border-radius: 7px;
}
.symbolsB {
  margin-left: 8px;
  color: #5EBFB5;
  font-size: 40px;
  margin-top: 0;
}

.continue {
  margin-left: 20px;
  margin-top: 18px;
  margin-bottom: 10px;
  height: 40px;
  width: 140px;
  color: #5EBFB5;
  border: 1px solid #1a1a25;
  font-weight: 700;
  font-family: system-ui;
  letter-spacing: 2px;
  border-radius: 10px;
  background-color: #1a1a25;
}
.continue:hover {
  border: 1px solid #E9EFF2;
  background-color: #5EBFB5;
  color: #1a1a25;
  box-shadow: 0 0 2px 2px #E9EFF2;
}
.RegLog {
  margin-left: -30px;
  margin-top: 15px;
  height: 40px;
  width: 100%;
  font-weight: 700;
  font-family: system-ui;
  letter-spacing: 1px;
  color: #5EBFB5;
  border: 1px solid transparent;
  letter-spacing: 2px;
  border-radius: 8px;
  background-color: #1a1a25;
}
.RegLog:hover {
  border: 1px solid #E9EFF2;
  background-color: #1a1a25;
  color: #E9EFF2;
  box-shadow: 0 0 25px #5EBFB5;
}
.inputlog {
  margin-top: 5px;
  padding: 5px 4px;
  margin-bottom: 12px;
  margin-left: -40px;
  border-radius: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  width: 150%;
  background-color: #E9EFF2;
  border: 1px solid #1a1a25;
  color: #1a1a25;
  font-weight: 25px;
  font-size: 1em;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.3),
    5px 5px 15px #1a1a25;
  transform: 0.5s;
  outline: none;
}
.forgotPhrase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
