.containerLog{
  background:linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 100vh;
}
.backLog {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
  padding-right: 4px;
  font-family: system-ui;
  font-weight: 500;
  margin-top: 9vh;
  margin-left: 10vw;
  width: 130px;
  color: #fcfcfc;
  letter-spacing: 1px;
  border: 1px solid #fdfdfd;
  border-radius: 10px;
  background-color: transparent;
}
.backLog:hover {
  border: 1px solid white;
  border-radius: 5px;
  background-color: #d7df23;
  font-weight: 600;
  color: rgb(29, 29, 29);
  box-shadow: 0 0 2px 2px rgb(255, 255, 255);
}
.imgLog{
  border-radius: 0 50px 50px 0;
  background-color: #ced379;
  width: 27%;
  height: 510px;
  /* box-shadow: 15px -5px -5px rgba(255, 255, 255, 0.3),
      -5px -5px 15px rgba(0, 0, 0, 0.35),
      inset 5px 5px 15px rgba(255, 255, 255, 0.3),
      inset -5px -5px 15px rgba(0, 0, 0, 0.35); */
  }
  .imageLog{
    margin-top: 7vh;
    margin-left: 0;
    padding: 0;

  }
.formLog{
    background-color: #ced379;
    color: #000000;
    border-radius: 40px 0 0 40px;
    width: 28%;
    height: 510px;
    /* box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.3),
      5px 5px 15px rgba(0, 0, 0, 0.35),
      inset -5px -5px 15px rgba(255, 255, 255, 0.3),
      inset 5px 5px 15px rgba(0, 0, 0, 0.35); */
}
.LogCont{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.Log{
display: grid;
margin: 5px 120px ;
padding: 5%;

}
.formLog h2{
    margin-left: -25px;
    font-size: 50px;
    margin-top: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: system-ui;
    color:rgb(69, 67, 67);
}
.iconLog{
    margin-right: 40px;
}
.pass{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.forgot{
  font-size: 2.1vh;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0!important;
  letter-spacing: 1px;
  color: rgb(12, 116, 160);
}
.forgot:hover{
  text-shadow: 0 2px 15px black;
  color: white;
}
.account{
  font-size: 2vh;
  margin-top: 5px;
  margin-bottom: 0!important;
  letter-spacing: 1px;
  color: rgb(160, 108, 12);
  font-weight: 500;
}
.symbolsA{
  margin-left: 8px;
  color: rgb(58, 53, 53);
  font-size: 42px;
  margin-top: 0;
}
.symbolsB{
  margin-left: 8px;
  color: rgb(58, 53, 53);
  font-size: 40px;
  margin-top: 0;
}
/* .links span{
    font-size: 30px;
    margin: 15px;
}
.links p{
    margin-top: 15px;
} */
.continue {
    margin-left: 20px;
    margin-top: 18px;
    margin-bottom: 10px;
    height: 40px;
    width: 140px;
    color: white;
    border: 1px solid #030303;
    font-weight: 500;
    font-family: system-ui;
    letter-spacing: 1px;
    border-radius: 10px;
    background-color: black;
  }
  .continue:hover {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #d7df23;
    color: rgb(29, 29, 29);
    box-shadow: 0 0 2px 2px rgb(255, 255, 255);
  }
.RegLog {
    margin-left: 6px;
    margin-top: 15px;
    height: 40px;
    width: 140px;
    font-weight: 500;
    font-family: system-ui;
    letter-spacing: 1px;
    color: white;
    border: 1px solid #030303;
    letter-spacing: 1px;
    border-radius: 10px;
    background-color: black;
  }
  .RegLog:hover {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #d7df23;
    color: rgb(29, 29, 29);
    box-shadow: 0 0 2px 2px rgb(255, 255, 255);
  }
 .inputlog{
        margin-top: 5px;
        padding: 5px 4px;
        margin-bottom: 12px;
        margin-left: -40px;
        border-radius: 10px;
        font-weight: 500;
        letter-spacing: 1px;
        width: 150%;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: #000000;
        font-weight: 25px;
        font-size: 1em;
        box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.3),
          5px 5px 15px rgba(0, 0, 0, 0.35);
        transform: 0.5s;
        outline: none;
      
 }