* {
  margin: 0;
  padding: 0;
}
.containerMain {
  background:#E9EFF2 ;
  width: 100%;
  height: 100vh;
  /* background-attachment: scroll; */
  margin-bottom: 0;
}

.containerRegister {
  margin-left: 25%;
  align-items: center;
  background-color: #252636;
  color: #1a1a25;
  margin-top: 30px;
  margin-bottom: 5%;
  border: 8px solid #252636;
  border-radius: 50px;
  width: 50%;
  height: 80%;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.3),
    5px 5px 15px #1a1a25,
    inset -5px -5px 15px rgba(255, 255, 255, 0.3),
    inset 5px 5px 15px #1a1a25;
}
.nameBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.mailBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.dateBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 2.8%;
}
.dateR {
  width: 45.75%;
}
.username {
  width: 100%;
}
.nameAccount {
  width: 100%;
}
.mail {
  width: 100%;
}
.pass {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inp {
  padding: 12px 10px 15px 20px;
  margin-bottom: 1%;
  border-radius: 10px;
  width: 85%;
  background-color: #E9EFF2;
  border: 1px solid #1a1a25;
  color: #1a1a25;
  font-weight: 500;
  font-size: 80%;
  letter-spacing: 1px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.3),
    5px 5px 15px #1a1a25;
  transform: 0.5s;
  outline: none;
}
.subir {
  cursor: pointer;
  padding: 12px 10px 15px 20px;
  margin-bottom: 3%;
  border-radius: 10px;
  width: 70%;
  background-color: #E9EFF2;
  border: 1px solid #1a1a25;
  color: #1a1a25;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.3),
    5px 5px 15px #1a1a25;
  transform: 0.5s;
  outline: none;
}

.subir:hover {
  color: #5EBFB5;
  background: #1a1a25;
}
#info {
  color: blue;
  font-weight: 500;
  font-size: 100%;
  font-family: system-ui;
  letter-spacing: 0.5%;
  margin-top: 0;
  margin-bottom: 7%;
}
.iconCloud {
  font-size: 180%;
  margin-right: 5%;
}
.errP {
  color: rgb(196, 95, 95);
  font-size: 95%;
  font-weight: 500;
  font-family: system-ui;
  letter-spacing: 0.2px;
  width: 95%;
}
.backRegister {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 7%;
  font-size: 3.5vh;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
  padding-right: 4px;
  font-family: system-ui;
  font-weight: 600;
  margin-top: 2%;
  margin-left: 5%;
  width: 7%;
  color: #E9EFF2;
  letter-spacing: 1px;
  border: 1px solid #E9EFF2;
  border-radius: 15px;
  background-color: transparent;
}
.backRegister:hover {
  border: 1px solid #E9EFF2;
  background-color: #5EBFB5;
  color: #1a1a25;
  box-shadow: 0 0 2px 2px #E9EFF2;
}
.formRegister {
  margin-top: 3%;
  justify-content: center;
  align-items: center;
}

.headerRegister {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dateRegister {
  padding: 12px 10px 15px 20px;
  margin-bottom: 12px;
  border-radius: 10px;
  width: 86%;
  background-color: #E9EFF2;
  border: 1px solid #1a1a25;
  color: #615f5f;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1em;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.3),
    5px 5px 15px #1a1a25;
  transform: 0.5s;
  outline: none;
}
.btnRegister {
  display: grid;
  /* flex-direction: column; */
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 35%;
  margin-bottom: 2%;
  height: 50px;
  width: 30%;
  border: 2px solid #5EBFB5;
  border-radius: 15px;
  background-color: rgba(128, 128, 128, 0.188);
  box-shadow: 0 0 10px #5EBFB5;

}
.btnRegister:hover {
  border: 1px solid #E9EFF2;
  background-color: #5EBFB5;
  color: #1a1a25;
  box-shadow: 0 0 2px 2px #E9EFF2;
}
.submitRegister {
  border: none;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  color: #5EBFB5;
  font-weight: 600;
  font-size: 150%;
  letter-spacing: 2px;
  font-family: system-ui;
  text-align: center;
}
.submitRegister{
  color: #1a1a25;
}
.iconR {
  font-size: 70px;
  margin-top: 4%;
  color: #5EBFB5;
}
.titleRegister {
  font-family: system-ui;
  font-weight: 500;
  color: #5EBFB5;
  margin-top: 4.5%;
  font-size: 300%;
}
