* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainReset {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}
.boxReset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.contImg {
  border-radius: 0 50px 50px 0;
  background-color: #ced379;
  width: 32%;
  height: 70vh;
}
.imgReset {
  margin-top: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerReset {
  background-color: #ced379;
  color: #000000;
  border-radius: 40px 0 0 40px;
  width: 30%;
  height: 70vh;
  margin-top: 0;
}
.formReset {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleReset {
  margin-top: 13%;
  margin-bottom: 4%;
  font-size: 4.5vh;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: system-ui;
  color: #615f5f;
}
.formRes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 5px 120px;
  padding: 5%;
}

.pleaseMessage {
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 8%;
  font-size: 110%;
  font-weight: 400;
  font-family: system-ui;
  letter-spacing: 1px;
}
.enterReset {
  margin-bottom: 2%;
  font-size: 2.8vh;
  font-weight: 400;
  font-family: system-ui;
  letter-spacing: 1px;
}
.inpReset {
  width: 100%;
  background-color: white;
  margin-right: 0;
  border: 2px solid white;
  text-align: center;
  height: 4vh;
  font-size: 100%;
  border-radius: 5px;
  margin-bottom: 5%;
}

.submit {
  width: 100%;
  cursor: pointer;
  margin-right: 0;
  text-align: center;
  height: 5vh;
  font-size: 19px;
  border-radius: 8px;
  margin-bottom: 12%;
  background-color: rgb(43, 44, 66);
  color: azure;
  font-weight: 600;
  letter-spacing: 2px;
}
.submit:hover {
  border: 1px solid white;
  background-color: #d7df23;
  color: rgb(29, 29, 29);
  box-shadow: 0 0 2px 2px rgb(255, 255, 255);
}

.btnResetBack {
  margin-top: 10%;
  width: 120%;
  padding-top: 1px;
  padding-bottom: 4px;
  cursor: pointer;
  margin-right: 0;
  text-align: center;
  font-size: 17px;
  border-radius: 8px;
  background-color: #c1c836;
  border: 1px solid transparent;
  color: rgb(27, 71, 132);
  font-weight: 700;
  letter-spacing: 1px;
}
.btnResetBack:hover {
  border: 1px solid white;
  color: white;
  background-color: #000000;
  box-shadow: 0 0 25px yellow;
}
