.boxCreateForm{
   background: url("../Imagenes/gris.jpg");
  background-color: rgb(184, 184, 190);
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1080px;
  position: absolute;
  margin: none;
}
/* .formCreate {
  padding: 2%;
  margin-bottom: -280px;
  width: 100%;
  height: 1050px;
} */
.containerCreate {
  margin-left: 25%;
  align-items: center;
  background-color: #252636;
  color: #1a1a25;
  position: absolute;
  margin-top: 10px;
  border-radius: 50px;
  width: 50%;
  height: 100vh;
  box-shadow: 0 0 2px 4px #5EBFB5;
}

.titleCre {
  margin-top: 45px;
  margin-bottom: 30px;
  font-size: 70px;
  font-weight: 700;
  font-family: 'Merienda', cursive;
  color: #5ebfb5;
  letter-spacing: 1px;
}

.iconCr {
  font-size: 25px;
  margin-right: 5px;
  color: #1a1a25;
  position: absolute;
  padding: 8px 0;
  margin-left: 10px;
  padding-right: 5px;
  border-right: 1px solid #1a1a25;
}

.cirB{
  color: #5ebfb5!important;
}

.valid {
  color: rgb(240, 89, 89);
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 2vh;
}
.backCr {
 position: absolute;
  display: flex;
  flex-direction: column;
  height: 8%;
  font-size: 130%;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'Merienda', cursive;
  font-weight: 900;
  margin-top: 2%;
  margin-left: 5%;
  width: 10%;
  color: #5EBFB5;
  letter-spacing: 3px;
  border: 1px solid #5EBFB5;
  border-radius: 10px;
  background-color: #1a1a25;
}
.backCr:hover {
  border: 1px solid #E9EFF2;
  background-color: #5EBFB5;
  color: #1a1a25;
  box-shadow: 0 0 2px 2px #E9EFF2;
}
.subCr {
  margin-top: 2%;
  height: 50px;
  width: 150px;
  color: #5ebfb5;
  border: 1px solid #1a1a25;
  font-weight: 600;
  font-size: 150%;
  letter-spacing: 2px;
  font-family: 'Merienda', cursive;
  border-radius: 10px;
  background-color: #1a1a25;
  /* box-shadow: 0 0 10px #5ebfb5; */
}
.subCr:hover {
 border: 1px solid #E9EFF2;
  background-color: #1a1a25;
  color: #E9EFF2;
  box-shadow: 0 0 25px #5EBFB5;
}
.inpCreate {
  padding: 12px 2px 15px 48px;
  margin-bottom: 12px;
  border-radius: 10px;
  width: 60%;
  font-family: 'Merienda', cursive;
  background-color: #e9eff2;
  border: 1px solid #1a1a25;
  color: #5ebfb5;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1em;
  box-shadow: -5px -5px 15px #252636, 5px 5px 15px #1a1a25;
  transform: 0.5s;
  outline: none;
}



.prohPhrase {
  font-size: 120%;
  font-weight: 500;
  font-family: 'Merienda', cursive;
  color: #5ebfb5;
  letter-spacing: 1px;
}
.circleBoX {
  color: #5ebfb5;
  font-family: 'Merienda', cursive;
  font-weight: 500;
  margin-left: 8px;
  font-size: 130%;
}
.proLink {
  color: rgb(240, 89, 89);
}

.spanTitle {
  font-size: 140%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 400;
  font-family: 'Merienda', cursive;
  margin-left: 21%;
  margin-bottom: 1.5%;
  color: #5ebfb5;
}

.selCreate {
  background-color: #e9eff2;
  margin-left: 0;
  padding: 12px 2px 15px 48px;
  margin-bottom: 12px;
  border-radius: 10px;
  width: 60%;
  background-color: #e9eff2;
  color: #1a1a25;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Merienda', cursive;
  border: none;
  font-size: 1em;
  box-shadow: -5px -5px 15px #252636, 5px 5px 15px #1a1a25;
  transform: 0.5s;
  outline: none;
}

.priceC {
  margin-top: 3.5%;
}
