* {
  margin: 0;
  padding: 0;
}
.prohibitedMain {
  background-color: rgb(184, 184, 190);
  width: 100%;
  height: 120vh;
  margin: 0 !important;
  border: 1px solid transparent;
}
.prohibitedBox {
  width: 70%;
  height: 115vh;
  margin-top: 0.5%;
  border: 4px solid #2d2e41;
  border-radius: 80px;
  box-shadow: 0 0 25px #7de2d1;
  background-color: #1a1a25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  color: aliceblue;
  margin-bottom: 4%;
}
.containerProhibited {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleProhibited {
  margin-top: 1.5%;
  font-size: 180%;
}
.subProhibited {
  font-size: 150%;
}
.hrPro {
  margin: 0.8rem;
  border-color: white !important;
  height: 3px;
  width: 80%;
}
.hProhibited {
  font-size: large;
  letter-spacing: 2px;
}
.backProhibited {
  border: 2px solid white;
  cursor: pointer;
  color: aliceblue;
  margin-top: 2%;
  border-radius: 10px;
  font-size: 180%;
  padding-right: 2%;
  font-weight: 600;
  padding-left: 2%;
  text-decoration: none;
  box-shadow: 0 0 25px #7de2d1;
  position: absolute;
  background-color: #1a1a25;
  margin-left: 41%;
}
.backProhibited:hover {
  background-color: #7de2d1;
  color: #1a1a25;
  box-shadow: 0 0 25px white;
}
