*{
    margin: 0;
    padding: 0;
}
.mainhome{
    margin-bottom: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0,0,0,1) 36%, rgb(233, 231, 231) 79%, rgba(1,1,0,1) 100%);
}

.carousel, .carousel-inner, .carousel-item, .imagen{
    height: 90vh;
    width: 37vw;

}

.homeContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.contentHome{
    justify-content: start;
}
.phrase{
    position: absolute;
    margin-left: 2vw;
    margin-right: 40vw;
    margin-top: 18vh;
    background-color: rgba(80, 79, 79, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 30px 0 30px 0;
    padding: 10px;
}
.phrasep{
    font-family: system-ui;
    font-size: 30px;
    font-weight: 500;
    color: white;
}
.logoService{
    
    position: absolute;
    margin-top: 10px;
    margin-right: 5vw;
    margin-left: 23vw;
}
.imageLogo{
    height: 650px;
    width: 600px;
}
.servicesBtn{
    margin-top: 65vh;
    margin-left: 34vw;
    position: absolute;   
}

.btnView{
    font-size: large;
    font-family: system-ui;
    font-weight: 700;
    background-color: #101010;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 10px 10px 10px;
    color: white;
    position: relative;
    overflow: hidden;
    transition: color 1s;
    border-radius: 10px;
}
.btnView:hover {
    background-color:  yellow;
    font-family: system-ui;
    font-weight: 700;
    color:black;
    box-shadow: 
    0 0 2px #fff,
    0 0 4px #f0f06a,
    0 0 6px #eff63d,
    0 0 8px #fffc36,
    0 0 10px #fdf10b;
  }
  