* {
  margin: 0;
  padding: 0;
  background: none;
}
.mainhome {
  margin-bottom: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 36%,
    rgb(233, 231, 231) 79%,
    rgba(1, 1, 0, 1) 100%
  );
}

.carousel,
.carousel-inner,
.carousel-item,
.imagen {
  margin-top: 0.15%;
  height: 90vh;
  width: 37vw;
}

.homeContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.contentHome {
  justify-content: start;
}
.phrase {
  position: absolute;
  margin-left: 2%;
  margin-right: 40%;
  margin-top: 5%;
  background-color: rgba(80, 79, 79, 0.2);
  backdrop-filter: blur(8px);
  border-radius: 30px 0 30px 0;
  padding: 10px;
}
.phrasep {
  font-family: system-ui;
  font-size: 160%;
  font-weight: 500;
  color: white;
}
.logoService {
  position: absolute;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 26%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageLogo {
  height: 115%;
  width: 115%;
  position: relative;
}
.servicesBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80%;
  position: absolute;
  text-decoration: none;
}

.btnView {
  font-size: large;
  font-family: system-ui;
  background-color: #101010;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 10px 10px 10px;
  color: white;
  font-weight: 700;
  overflow: hidden;
  transition: color 1s;
  border-radius: 10px;
}
.btnView:hover {
  background-color: yellow;
  font-family: system-ui;
  font-weight: 700;
  color: black;
  box-shadow: 0 0 2px #fff, 0 0 4px #f0f06a, 0 0 6px #eff63d, 0 0 8px #fffc36,
    0 0 10px #fdf10b;
}
