
.carousel, .carousel-inner, .carousel-item, .imagen{
    height: 87.7vh;
    width: 37vw;

}

.homeContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.logoService{
    position: absolute;
    margin-left: 50vw;
    margin-top: 8vh;

   
}
.imageLogo{
    height: 65vh;
    width: 30vw;
}

.servicesBtn button{
    font-size: large;
    font-weight: 600;
    background-color: #1e1e3b;
    margin-left: 21.5vw;
    margin-top: 75vh;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: color 1s;
    border-radius: 10px;
}
.servicesBtn button:hover {
    background-color:  #fff;
    color:#111120;
    box-shadow: 0 0 2px #fff,
    0 0 2px #fff,
    0 0 4px #446398,
    0 0 6px #274ea2,
    0 0 8px #212199,
    0 0 10px #1e1e3b;
  }