.paginateContainer{
    display: flex;
    float: inline-end;
    list-style: none;
    margin: 150px;
    padding: 200px;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
 }
 
 .page{
    display: inline-block;
	padding-left: .5rem;
	padding-right: .5rem;
	margin-bottom: 3rem;
 }
    .prev-next {
        background-color: white;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 30px;
        
       
        
       
    }

    
 
 .page-numberactive {
    background: #2042da;
    color: rgb(240, 240, 240);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 1px 10px;
    border-radius: 3px;
    transition: 0.4s;
    
}
 
.paginate-container {
	display: flex;
	justify-content: center;

}

 
 .page ul {
     list-style: none;
     text-align: center;

     
 }
 .page ul li{
     display: inline-block;
     margin-right: 10px;
     cursor: pointer;
 }
 .page ul li :hover{
     transform: translateY(3.5px);
     box-shadow: 2px 2px 26px 0px rgba(253, 220, 220, 0.952);
 }
 
 .page ul li a {
     display: block;
     padding: 10px 20px;
     color: rgb(164, 156, 156);
     background: #c5c1be;
     border-radius: 0.7rem;
     text-decoration: none;
   
 }