.boxUpdateService {
  margin-left: 25%;
  align-items: center;
  background-color: #1a1a25;
  margin-top: 10px;
  border-radius: 50px;
  width: 50%;
  height: 85vh;
  border: 2px solid #6fffe9;
  box-shadow: 0 0 10px 5px white;
  margin-bottom: 2%;
}
.titleServiceUp {
  margin-top: 45px;
  margin-bottom: 30px;
  font-size: 320%;
  font-weight: 700;
  font-family: "Merienda", cursive;
  color: #6fffe9;
  letter-spacing: 1px;
}
.iconUpUser {
  font-size: 25px;
  margin-right: 5px;
  color: #1a1a25;
  position: absolute;
  padding: 8px 0;
  margin-left: 10px;
  padding-right: 5px;
  border-right: 1px solid #1a1a25;
}
.subirServiceImage {
  cursor: pointer;
  padding: 12px 10px 15px 20px;
  border-radius: 10px;
  width: 59%;
  background-color: #e9eff2;
  border: 1px solid #1a1a25;
  font-family: "Merienda", cursive;
  margin-bottom: 2%;
  color: #1a1a25;
  font-weight: 500;
  font-size: 110%;
  letter-spacing: 2px;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.3), 5px 5px 15px #1a1a25;
}
.subirServiceImage:hover {
  color: #ffff;
  background: #1a1a25;
  box-shadow: 0 0 10px 5px white;
}
#infoUpService {
  color: #ffff;
  font-weight: 500;
  font-size: 130%;
  letter-spacing: 0.5%;
  margin-top: 0;
  margin-bottom: 4%;
  font-family: "Merienda", cursive;
}
.subUpService {
  height: 50px;
  width: 150px;
  color: #ffff;
  border: 1px solid #2b2c28;
  font-weight: 600;
  font-size: 150%;
  letter-spacing: 2px;
  font-family: "Merienda", cursive;
  border-radius: 10px;
  border: 1px solid #e9eff2;
  box-shadow: 0 0 5px 1px white;
}
.subUpService:hover {
  border: 1px solid #45b5a4;
  background-color: #ffff;
  color: #1a1a25;
  box-shadow: 0 0 10px 4px #6fffe9;
}
