.dashBo {
  background-color: #1a1a25;
  width: 100%;
  height: 180vh;
}
.navDash {
  background-color: #252636;
  position: absolute;
  margin-top: -10%;
  position: fixed;
}
.dashNew {
  margin-left: 20%;
}
.hi {
  font-size: 500%;
  margin-bottom: 5%;
  margin-left: -70%;
}
.dashboard {
  width: 50%;
  margin-left: 30%;
  background-color: #1a1a25;
  color: aliceblue;
}
.progress {
  width: 150px;
  height: 100%;
  background-color: #252636;
  margin-left: 25%;
}

.earning {
  margin-top: 50%;
}

.services {
  position: absolute;
  padding: 4%;
  width: 30%;
  background-color: #252636;
  border-radius: 30px;
  margin-left: -17%;
  columns: 2;
  color: aliceblue;
}

.users {
  position: absolute;

  padding: 4%;
  width: 30%;
  background-color: #252636;
  border-radius: 30px;
  margin-left: 17%;
  columns: 2;
  color: aliceblue;
}

.porcentajes {
  margin-left: 25%;
}

.number1 {
  position: absolute;
  font-size: 20px;
  margin-top: 6%;
  margin-left: 2%;
  justify-content: center;
  align-items: center;
}
.circle1 {
  border: 8px solid #5dc1b9;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 50px;
  margin-top: 0px;
}
.number2 {
  position: absolute;
  font-size: 20px;
  margin-top: 6%;
  margin-left: 2%;
  justify-content: center;
  align-items: center;
}
.circle2 {
  border: 8px solid #ff69b4;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 30px;
  margin-top: 0px;
}
.graficas {
  margin-top: 20%;
  margin-left: -5%;
  position: absolute;
  width: 30%;
}
.icDash1 {
  background: #ff69b4;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 3rem;
  display: grid;
  margin-top: -10%;
  margin-left: -10%;
}
.h2Users {
  margin-top: -25%;
  margin-left: 15%;
}
.h2Services {
  margin-top: -25%;
  margin-left: 15%;
}
.infobox2 {
  margin-left: 17%;
}
.infobox {
  margin-left: 15%;
}
.icDash2 {
  background: #5dc1b9;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 3rem;
  display: grid;
  margin-top: -10%;
  margin-left: -10%;
  color: aliceblue;
}


