.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectFilter {
  margin: 15px 1px;
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 5px;
  font-weight: 600;
  color: #101010;
  display: grid;
  width: 90%;
  font-family: system-ui;
  font-size: 16px;
  background-color: #f2fa04;
  padding: 8px 21px;
  text-decoration: none;
  appearance: button;
  outline: none;
  letter-spacing: 1px;
}
.selectFilter:hover {
  color: #f2fa04;
  background-color: #101010;
  letter-spacing: 1px;
}
.btnFilter {
  margin-top: 5%;
  margin-left: 0;
  font-size: 145%;
  padding: 1.5% 2%;
  height: 100%;
  width: 70%;
  font-weight: 600;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
}
.btnFilter:hover {
  border: 1px solid #fffdfd;
  border-radius: 5px;
  background-color: #f2fa04;
  color: #101010;
  box-shadow: 0 0 2px 2px rgb(255, 255, 255);
}
.titleFil {
  color: white;
  font-weight: 600;
  font-family: system-ui;
  letter-spacing: 2px;
  font-size: 160%;
  margin-top: 15%;
  margin-bottom: 7%;
}

.spanFilter {
  color: white !important;
  font-family: system-ui;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 120% !important;
  margin-top: 4%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 1%;
}
