.h1CharService {
  margin-left: -30%;
  margin-top: 3%;
}
.hrServicesAd {
  margin-bottom: 8%;
}
.border3 {
  width: 240%;
    margin-top: 10%;
    margin-left: -10%;
  border: 1px solid aliceblue;
  background-color: #252636;
  border-radius: 20px;
}
