.navUserContainer {
  background-color: #1a1a25;
  background-position: center;
  width: 100%;
  margin: 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.greetUser {
  color: #7de2d1;
  margin-left: 0.3rem;
  margin-right: 0.2rem;
  font-family: fair;
  letter-spacing: 3px;
  font-size: 170%;
  font-weight: 500;
  text-align: center;
  padding: 14px 16px;
  padding-top: 15px;
  padding-bottom: 5px;
  text-decoration: none;
}
.btnNavUser {
  color: #fffafb;
  margin-left: 0.3rem;
  margin-right: 0.2rem;
  font-family: rondalRegular;
  font-size: 150%;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.btnNavUser:hover {
  cursor: pointer;
  color: #6fffe9;
  background-color: #252636;
}
.birdyUser {
  margin-left: 0.3rem;
  font-family: system-ui;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.btnsUserProfile {
  display: flex;
  justify-items: flex-start;
  justify-content: flex-start;
}
.otherButton {
  display: flex;
  justify-items: flex-start;
  justify-content: flex-start;
}
