.submit{
    margin-left: 2px;
    height: 24px;
    width: 60px;
    color: #fffdfd;
    border: 1px solid #fffdfd;
    border-radius: 5px;
    background-color: transparent;
}
.submit:hover{
    border: 1px solid #fffdfd;
    border-radius: 5px;
    background-color: rgba(103, 185, 184, 0.39);
    color: rgb(206, 233, 232);
    box-shadow:0 0 2px 2px rgb(206, 233, 232);
  }
