.landing {
  background-color: #1e1e32;
  background-image: url("../Imagenes/landing.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
 margin: none;
}

.landing .btnLanding{
  font-size: large;
  font-weight: 600;
  background-color: #0956ad;
  margin-top: 70vh;
  margin-left: 1vw;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 30px;
  color: #fff;
  position: absolute;
  overflow: hidden;
  transition: color 1s;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 2px #fff,
  0 0 2px #5d77a5,
  0 0 4px #446398,
  0 0 6px #274ea2,
  0 0 8px #212199,
  0 0 10px #1e1e3b;
}
.landing .btnLanding:hover {
  background-color:  #fff;
  color:#111120;
  box-shadow: 0 0 2px #fff,
  0 0 2px #fff,
  0 0 4px #446398,
  0 0 6px #274ea2,
  0 0 8px #212199,
  0 0 10px #1e1e3b;
}