.containerView {
  margin-top: 2%;
  margin-left: 20%;
  width: 70%;
}
.h2 {
  color: rgb(82, 46, 150);
  font-size: 300%;
}
.tableContainer {
  width: 100%;
}
.thView {
  font-size: 150%;
  text-align: center;
}
.tdView {
  font-size: 120%;
}
.editView {
  margin-right: 10%;
  font-size: 150%;
}
.bin {
  font-size: 150%;
}
