.fondoView{
  background-color: #1a1a25;
  width: 100%;
  height: 100vh;
  position: absolute;
}
.navView{
  background-color: #252636;
  position: absolute;
  margin-top: -13%;
  position: fixed;
}
.containerView {
  margin-top: 25%;
  margin-left: 20%;
  width: 75%;
}
.h2View{
  color: #E9EFF2;
  font-size: 500%;
  margin-top: -30%;
  margin-bottom: 5%;
  margin-left: -65%;
  font-weight: 500;
}
.tableContainer {
  width: 100%;
}
.thAll {
  font-size: 150%;
  text-align: center;
}
.tdView {
  font-size: 120%;
}
.editView {
  margin-right: 10%;
  font-size: 150%;
}
.bin {
  font-size: 150%;
}
