.bod{
  background-color: #101010;
  width: 100%;
  height: 100vh;
}
.containerX h1{
  color: #d7df23;
font-size: 30em;
text-shadow: 10px 8px #afb633, -10px 12px #eaf337, -8px -12px #f9fda1, 12px -5px #a8ad42;
color: #101010;
}

.containerX p{
  font-size: 30px;
  color: #fff;
}
.containerX a{
  font-size: 20px;
}