.bod {
  background-color: #1a1a25;
  width: 100%;
  height: 100vh;
}
.containerX h1 {
  color: #d7df23;
  font-size: 30em;
  text-shadow: 10px 8px #2c2f73, -10px 12px #5dc1b9, -8px -12px #5055a8,
    12px -5px #3c5a58;
  color: #1a1a25;
}

.containerX p {
  font-size: 30px;
  color: #fff;
}
.containerX a {
  font-size: 20px;
}
