.mainNavContainer {
  background-color: black;
  background-position: center;
  width: 100%;
  margin: 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btns {
  display: flex;
  justify-items: flex-start;
  justify-content: flex-start;
}
.btnsUser {
  display: flex;
  justify-items: flex-end;
  justify-content: flex-end;
}
.btnNav {
  margin-top: 1%;
  margin-left: 0.3rem;
  margin-right: 0.2rem;
  font-family: system-ui;
  font-size: 100%;
  font-weight: 500;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.btnNav:hover {
  cursor: pointer;
  color: #edf125;
  box-shadow: 0 0 2px 4px #edf125;
  border-radius: 6px;
}

.searchNav {
  background-color: black;
  margin-top: 1%;
  margin-left: 0;
  margin-right: 0;
  font-family: system-ui;
  font-size: 100%;
  font-weight: 500;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.birdy {
  margin-top: 1%;
  margin-left: 0.3rem;
  font-family: system-ui;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.greet {
  color: #edf125;
  margin-top: 1%;
  margin-left: 0.3rem;
  margin-right: 0.2rem;
  font-family: system-ui;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.space {
  margin-top: 4%;
  margin-left: 0.3rem;
  margin-right: 0.2rem;
  font-family: system-ui;
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-align: center;
  padding: 2px 2px;
  text-decoration: none;
}
.login {
  margin-top: 2.5%;
  margin-bottom: 0;
  margin-left: 0.3rem;
  margin-right: 0.2rem;
  font-family: system-ui;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: center;
  padding: 14px 12px 8px 12px;
  text-decoration: none;
}
.login:hover {
  cursor: pointer;
  color: #edf125;
  box-shadow: 0 0 4px 6px #edf125;
  border-radius: 6px;
}

/* .logout .logoutLink{
  border: 2px solid red;

  font-family: system-ui;
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
} */
