ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(58, 138, 135);
  margin-bottom: 0;
}

.hr {
border: 1px rgb(255, 255, 255) solid;
margin-top: 0px;
height: 47px;
width: 50px;
position: absolute;
}
.home{
  margin-left: 15px;
}
 .create{
margin-left: 610px;
 }
.search{
  margin-top: 15px;
  margin-left: 2% ;
}

span{
  float:right
}
.signUp{
  margin-right: 30px;
}

li {
  float: left;
}

li a {
  font-family: system-ui;
  display: block;
  color: rgb(229, 247, 237);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(103, 185, 184, 0.39);
}