
.psOrder{
    font-family: "Merienda", cursive;
    margin-left: 5%;
    text-align: left;
width: 50%;
color: #f0f3f2;
font-size: 120%;
margin-bottom: 5%;
letter-spacing: 1px;

}
.tableContainerDetail{

    color:#1a1a25;
    background-color: rgb(184, 184, 190);
letter-spacing: 1px;
width: 100%;
}
.btnOrderUser {
    margin-top: 15%;
    margin-left: -2%;
    width: 65%;
    height: 45px;
    color: #91c2bb;
    border: 2px solid #91c2bb;
    font-size: 120%;
    letter-spacing: 2px;
    font-family: system-ui;
    border-radius: 10px;
    background-color: #1a1a25;
    box-shadow: 0 0 15px #303246;
    cursor: pointer;
  }
  .btnOrderUser:hover {
    border: 1px solid #91c2bb;
    border-radius: 10px;
    background-color: #91c2bb;
    color: #1a1a25;
    box-shadow: 0 0 2px 2px rgb(255, 255, 255);
  
  }
  .tdOrderUsers2{
    color:#1a1a25;
font-size: 135%;
font-weight: 700;
  }